{% extends 'layout.html' %}
{% block content %}
  <table width="100%" style="height: 100%;" cellpadding="15" cellspacing="0" border="0">
		<tr>
            <td>
                <p>Dear {{ message_content.get('name', '')|title }},</p>
				<p style="line-height: 1.8; font-size: 15px; font-family: Verdana;">
                    Thank you for contacting us.<br />
                    Our representative will get back to you in next 24 hours to know more about your needs.<br />
                    Meanwhile you can search through our list of available spaces as per your need from <a href="{{message_content.get('link_search', '')}}" target="_blank">Here</a>

				</p>
            </td>
        </tr>
  </table>
{% endblock content %}
