{% extends 'layout.html' %}
{% block content %}
<table width="100%" style="height: 100%;" cellpadding="10" cellspacing="0" border="0">
    <tr>

                        <!-- ============ LEFT COLUMN (MENU) ============== -->
        <td width="40%" valign="top" bgcolor="#C0C0C0">
            <p style="box-sizing: border-box; padding: 15px; font-size: 15px; line-height: 2;">
                            <b>PAYABLE TO </b><br>
                            My Cute Office Pvt. Ltd.<br>
                            F 31, Profit Centre,<br>
                            Mahavir Nagar,<br />
                            Kandivali West, Mumbai - 400067
                            </p>
            <p  style="box-sizing: border-box; padding: 15px; font-size: 15px; line-height: 2;">
                <b>CLIENT</b><br>
                Name : {{ message_content.get('seeker_name' , '') }}<br>
                Email : {{ message_content.get('seeker_email' , '') }}<br>
                Mobile : {{ message_content.get('seeker_mobile' , '') }}<br>
            </p>
        </td>

                        <!-- ============ RIGHT COLUMN (CONTENT) ============== -->
        <td width="60%" valign="top" bgcolor="#C4C3D0">
            <table width="100%" style="height: 100%;" cellpadding="10" cellspacing="0" border="0">

                 <tr>
                    <td>
                        <p style="box-sizing: border-box; font-size: 15px; line-height: 2;">
                            <b>BOOKING DETAILS</b><br>
                            Transaction Id : {{ message_content.get('book_id' , '') }}<br>
                            Order Id : {{ message_content.get('order_id' , '') }}<br>
                            Date of transaction : {{ message_content.get('date' , '') }}<br>
                        </p>
                    </td>
                </tr>

                <tr>
                    <td>
                        <p style="box-sizing: border-box; font-size: 15px; line-height: 2;">
                            <b>OVERVIEW</b><br>
                            Space :&nbsp; <a href="{{message_content.get('link_space', '')}}" target="_blank" > {{ message_content.get('space_title','') }}</a>&nbsp;<br>
                            Booking type : {{ message_content.get('booking_type' , '') }}<br>
                            Date : {{ message_content.get('from_date' , '') }} - {{ message_content.get('to_date' , '') }}<br>
                            time : {{ message_content.get('from_time' , '') }} - {{ message_content.get('to_time' , '') }}<br>

                        </p>
                    </td>
                </tr>

                    <td>
                        <table style="width:100%">
                            <tr>
                                <th align="left">PAID</th>
                            </tr>
                            <tr>
                                <td>amount paid :</td>
                                <td >{{ message_content.get('amount' , '') }}</td>
                            </tr>
                            <tr>
                                <td>payment mode :</td>
                                <td >{{ message_content.get('payment_mode' , '') }}</td>
                            </tr>
                            <tr style="font-size: 15px;">
                                <td>payment method :</td>
                                {% if message_content.get('payment_method' , '') == 'paytm' %}
                                <td > <img src="https://mycuteoffice.com/sites/all/modules/custom-contrib/commerce_paytm/paytm_label.png"></td>
                                {% else %}
                                <td >{{ message_content.get('payment_method' , '') }}</td>
                                {% endif %}
                            </tr>
                        </table>
                    <td>
                </tr>
            </table>
        </td>
    </tr>
</table>
{% endblock content %}
