{% extends 'layout.html' %}
{% block content %}
  <table width="100%" style="height: 100%;" cellpadding="15" cellspacing="0" border="0">
		<tr>
            <td>
                <p>Dear {{ message_content.get('name', '')|title }},</p>
				<p style="line-height: 25px; font-size: 15px; font-family: Verdana;">
                    Congratulations! Your booking Booking  has been confirmed.<br />
				</p>
                <p style="line-height: 25px; font-size: 15px; font-family: Verdana;">
                    Your booking details are:<br />
                    Transaction Id is:&nbsp;<b>  {{ message_content.get('book_id', '') }} </b><br />
                    Order Id : {{ message_content.get('order_id' , '') }}<br>
                    Date of transaction : {{ message_content.get('date' , '') }}<br>
                    Your Space :&nbsp; <a href="{{message_content.get('link_space', '')}}" target="_blank" > {{ message_content.get('space_title','') }}</a>&nbsp;</b><br />
				</p>

            </td>
        </tr>
  </table>
{% endblock content %}
