{% extends 'layout.html' %}
{% block content %}
  <table width="100%" style="height: 100%;" cellpadding="15" cellspacing="0" border="0">
		<tr>
            <td>

                <p>Dear {{ message_content.get('name', '')|title }},</p>
				<p style="line-height: 25px; font-size: 15px; font-family: Verdana;">
                   We regret to inform you that your booking (Booking ID: {{ message_content.get('book_id', '') }} ) <br />
                    for the Space : &nbsp; <a href="{{message_content.get('link_space', '')}}" target="_blank" > {{ message_content.get('space_title','') }}</a>&nbsp;
                    has been rejected.<br />
                    The amount will be credited back to your account within next 5 working days.<br />
                    However, below are the spaces that match your criteria.
				</p>
            </td>
        </tr>
        <tr>
            <td>
                <table width="100%" cellpadding="0" cellspacing="10" border="0">
                    {% for workspace in message_content.get('workspaces') %}
                    {% if loop.index%2 == 1 %}
                    <tr>
                    {% endif %}
                        <td valign="top">
                            <a href="{{workspace['link_space']}}" target="_blank"  style="text-decoration: none;">
                                <img width="235px" height="150px" src=" {{ workspace['image_src']}}">
                                <p style="background-color: #FFFFFF; color: #333333; border: 1px solid #DDDDDD; padding: 5px; margin: 0; text-align: center; line-height: 1.5; font-size: 12px;">
                                    {% set capacity = 'people' %}
                                    {% if workspace['capacity'] == 1 %}
                                        {% set capacity = 'person' %}
                                    {% endif %}
                                    <span style="color: #2EB16F;">Rs. <span style="font-size: 14px;"><b>{{ workspace['display_cost'] }}</b></span> {{ workspace['display_label'] }}</span><br>
                                    <span><b>{{ workspace['capacity'] }} {{ capacity }} {{ workspace['type'] }}</b></span><br>
                                    <span style="color: #337ab7">{{ workspace['locality']|truncate(38) }}</span>
                                </p>
                            </a>
                        </td>
                    {% if loop.index%2 == 0 %}
                    </tr>
                    {% endif %}
                    {% endfor %}

                </table>
            </td>
        </tr>
  </table>

{% endblock content %}
