{% extends 'layout.html' %}
{% block content %}
  <table width="100%" style="height: 100%;" cellpadding="15" cellspacing="0" border="0">
		<tr>
            <td>
                <p>Hi {{ message_content.get('name', '')|title }}</p>

                {% if message_content.get('is_admin' , '') %}
                    <p style="line-height: 25px; font-size: 15px; font-family: Verdana;">
                        {{ message_content.get('sender') }}  from MCO Team has viewed and replied to enquiry for (<a href="{{message_content.get('link_space', '')}}" target="_blank">{{ message_content.get('title', '')}}</a>)
                     </p>
                {% else %}
                    <p style="line-height: 25px; font-size: 15px; font-family: Verdana;">
                   {{ message_content.get('sender') }}  has viewed and replied to enquiry for (<a href="{{message_content.get('link_space', '')}}" target="_blank">{{ message_content.get('title', '')}}</a>)
                    </p>
                {% endif %}

                <p style="line-height: 25px; font-size: 15px; font-family: Verdana;">
                        {{ message_content.get('sender') }}’s Reply: <br />
                        “<span style="font-family: verdana; font-size:15px; line-height: 1.5;">{{ message_content.get('msg', '')|safe }}</span>”
                </p>

				<p style="line-height: 25px; font-size: 15px; font-family: Verdana;">
                    <a href="{{message_content.get('link_reply', '')}}" target="_blank" style="display: inline-block; background-color: black; color: white; text-decoration: none; padding: 5px 25px; border: 2px solid gray;">Reply</a>
				</p>
            </td>
        </tr>
  </table>
{% endblock content %}
