{% extends 'layout.html' %}
{% block content %}
  <table width="100%" style="height: 100%;" cellpadding="15" cellspacing="0" border="0">
		<tr>
            <td>

                <p>Hi {{ message_content.get('name', '')|title }},</p>

				<p style="line-height: 25px; font-size: 15px; font-family: Verdana;">
				    <b>{{ message_content.get('ss_name', '') }}</b>  has enquired for your office in (<a href="{{message_content.get('link_space', '')}}" target="_blank">{{ message_content.get('location', '') }}</a>).<br /><br />

                    <b>{{ message_content.get('ss_name', '') }}'s message:</b><br />
                    {{ message_content.get('ss_msg', '')|safe }}
                </p>

                <p style="line-height: 25px; font-size: 15px; font-family: Verdana;">
                  Please reply to <b>{{ message_content.get('ss_name', '') }}'s enquiry</b>.<br />
                    <a href="{{message_content.get('link_reply', '')}}" target="_blank" style="display: inline-block; background-color: black; color: white; text-decoration: none; padding: 5px 25px; border: 2px solid gray;">Reply</a>
                </p>

                <p style="line-height: 25px; font-size: 15px; font-family: Verdana;">
                  You can reach us on +91-7738888577 or write to us on hello@mycuteoffice.com if you face any issues or need any clarifications.
				</p>
            </td>
        </tr>
  </table>
{% endblock content %}
