{% extends 'layout.html' %}
{% block content %}
  <table width="100%" style="height: 100%;" cellpadding="15" cellspacing="0" border="0">
		<tr>
            <td>
                <p>Dear {{ message_content.get('name','') |title}},</p>
				<p style="line-height: 1.8; font-size: 15px; font-family: Verdana;">
                    The user of Booking ID:&nbsp;&nbsp;<b>{{ message_content.get('book_id','') }}</b>&nbsp;&nbsp;has requested to cancel the booking for the Space ID:&nbsp;&nbsp;<b>{{ message_content.get('space_id','') }}</b>
				</p>
            </td>
        </tr>
  </table>
{% endblock content %}
