{% extends 'layout.html' %}
{% block content %}
  <table width="100%" style="height: 100%;" cellpadding="15" cellspacing="0" border="0">
		<tr>
            <td>
                <p>Dear {{ message_content.get('name','')|title }},</p>
				<p style="line-height: 1.8; font-size: 15px; font-family: Verdana;">
                    for referral link
                    <p style="line-height: 25px; font-size: 15px; font-family: Verdana;">
                        <a href="{{message_content.get('referral_visit_url', '')}}" target="_blank" style="display: inline-block; background-color: #1487d4; color: white; text-decoration: none; padding: 5px 25px; border: 2px solid gray;">Click here</a>
                    </p>
                </p>
            </td>
        </tr>
  </table>
{% endblock content %}
