{% extends 'layout.html' %}
{% block content %}
  <table width="100%" style="height: 100%;" cellpadding="15" cellspacing="0" border="0">
		<tr>
            <td>
                <p>Hi {{ message_content.get('name', '')|title }},</p>
                <p style="line-height: 1.8; font-size: 15px; font-family: Verdana;">
                    <b>Followup date for requirement:</b><br />
                    Requirement ID:&nbsp;&nbsp; {{ message_content.get('req_id' , '') }}<br />
                    Name:&nbsp;&nbsp; {{ message_content.get('user_name' , '') }}<br />
                </p>
                 <p style="line-height: 25px; font-size: 15px; font-family: Verdana;">
                    <a href="{{message_content.get('link_reply', '')}}" target="_blank" style="display: inline-block; background-color: black; color: white; text-decoration: none; padding: 5px 25px; border: 2px solid gray;">Reply</a>
				</p>

            </td>
        </tr>
  </table>
{% endblock content %}