{% extends 'layout.html' %}
{% block content %}
  <table width="100%" style="height: 100%; font-family: verdana;" cellpadding="10" cellspacing="0" border="0">
		<tr>

		<!-- ============ LEFT COLUMN (MENU) ============== -->
            <td width="35%" valign="top" bgcolor="#C0C0C0">
                <p style="box-sizing: border-box; padding: 15px; font-size: 15px; line-height: 2;">
                <b>Billing Address: </b><br>
                MCO Admin
                Mumbai Maharashtra
                Phone Number:
                9821804409
                </p>
                <p  style="box-sizing: border-box; padding: 15px; font-size: 15px; line-height: 2;">
                <b>Space User Details</b><br>
                Name: <br>
                Email: hello@mycuteoffice.com<br>
                Payment Method:  Online payment<br>
                </p>

            </td>

		<!-- ============ RIGHT COLUMN (CONTENT) ============== -->
            <td width="65%" valign="top" bgcolor="#C4C3D0">
               <table width="100%" style="height: 100%;" cellpadding="10" cellspacing="0" border="0">
                <tr>
                   <td style="vertical-align: top;">
                    <p style="box-sizing: border-box; font-size: 15px; line-height: 2;">
                        <b>OVERVIEW</b><br>
                        Space: Affordable deskspace in Charkop<br>
                        Booking Type: Daily<br>
                        Duration: 15/10/2015 to 16/10/2015<br>
                    </p>
                   </td>
                </tr>

                <tr>
                    <td style="vertical-align: top;">
                         <table style="width:100%">
                          <tr style="font-size: 15px;">
                              <th align="left">Booking ID</th>
                              <td align="right">$0,000.00</td>
                          </tr>
                          <tr style="font-size: 15px;">
                            <th align="left">Booking Date</th>
                            <td align="right">$0,000.00</td>
                          </tr>
                        </table>
                   <td>
                </tr>

                <tr>
                    <td style="vertical-align: top;">
                         <table style="width:100%">
                          <tr>
                            <th align="left">Booking Summary</th>
                          </tr>
                          <tr style="font-size: 15px;">
                            <td>Title</td>
                            <td align="right">$0,000.00</td>
                          </tr>
                          <tr style="font-size: 15px;">
                            <td>Unit Price</td>
                            <td align="right">$0,000.00</td>
                          </tr>
                          <tr style="font-size: 15px;">
                            <td>Quantity</td>
                            <td align="right">$0,000.00</td>
                          </tr>
                          <tr style="font-size: 15px;">
                            <td>Total</td>
                            <td align="right">$0,000.00</td>
                          </tr>

                        </table>
                   <td>
                </tr>
               </table>
            </td>
		</tr>
        <tr>
            <td colspan="2" valign="top" align="right">
 	  	<p style="display: inline-block; background-color: #d2d8c7; padding: 10px;">Booking Total: &nbsp; <span>$0,000.00</span></p>
     	    </td>
         </tr>
		</table>
{% endblock content %}
