{% extends 'layout.html' %}
{% block content %}
  <table width="100%" style="height: 100%;" cellpadding="15" cellspacing="0" border="0">
		<tr>
            <td>
                <p>Dear {{ message_content.get('name','')|title }},</p>
				<p style="line-height: 1.8; font-size: 15px; font-family: Verdana;">
                    Your Space :&nbsp; <a href="{{message_content.get('link_space', '')}}" target="_blank" > {{ message_content.get('space_title','') }}</a>&nbsp;    ,
                    is waiting for an approval and will be put on live once our team has verified the space.
                </p>
            </td>
        </tr>
  </table>
{% endblock content %}
