{% extends 'layout.html' %}
{% block content %}
  <table width="100%" style="height: 100%;" cellpadding="15" cellspacing="0" border="0">
		<tr>
            <td>
                <p>Hi {{ message_content.get('name', '')|title }},</p>
				<p style="line-height: 25px; font-size: 15px; font-family: Verdana;">
				    Thank you for listing your space with us! Your Space ID is: {{ message_content.get('space_id', '') }}<br /> Your listing in now 100% complete.<br /><br />
                    <b><u>Acceptance of terms & conditions:</u></b><br /><br />
                    For your space to be published to the thousands of space seekers who visit us daily, please go through  and accept our terms & conditions by following the steps below.<br /><br />
                    Step 1:  Review your page listing by clicking  <a href="{{ message_content.get('link','')}}" target="_blank">this<br /><br />
                    Step 2: Scroll to the end of the page after reviewing your listing.<br /><br />
                    Step 3: Click on ‘I Accept’ at the end of the page after going through our Terms & Conditions.
				</p>
            </td>
        </tr>
  </table>
{% endblock content %}
