{% extends 'layout.html' %}
{% block content %}
  <table width="100%" style="height: 100%;" cellpadding="15" cellspacing="0" border="0">
		<tr>
            <td>
                <p>Hi {{ message_content.get('name', '')|title }}</p>
                <p style="line-height: 25px; font-size: 15px; font-family: Verdana;">
                 {% if message_content.get('is_admin' , '') %}
                        {{ message_content.get('sender', '') }} from MCO Team  has viewed and replied to your enquiry for space (<a href="{{message_content.get('link_space', '')}}" target="_blank">{{ message_content.get('title', '')}}</a>)<br /><br />
                 {% else %}
                        {{ message_content.get('sender', '') }}  has viewed and replied to your enquiry for space (<a href="{{message_content.get('link_space', '')}}" target="_blank">{{ message_content.get('title', '')}}</a>)<br /><br />
                 {% endif %}
                    {{ message_content.get('sender', '') }}'s Reply: <br />
                    {{ message_content.get('msg', '')|safe }}<br /><br />
                </p>
                <p style="line-height: 25px; font-size: 15px; font-family: Verdana;">
                    <a href="{{message_content.get('link_reply', '')}}" target="_blank" style="display: inline-block; background-color: black; color: white; text-decoration: none; padding: 5px 25px; border: 2px solid gray;">Reply</a>
				</p>

				<p style="line-height: 25px; font-size: 15px; font-family: Verdana;">
                    You can reach us on +91-7738888577 or write to us on hello@mycuteoffice.com if you face any issues or need any clarifications.
				</p>
            </td>
        </tr>
  </table>
{% endblock content %}
